<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>主页</string>
		<key>controller</key>
		<string>NewsMainViewController</string>
		<key>selectedPic</key>
		<string>home_btn_homepage_select</string>
		<key>normalPic</key>
		<string>home_btn_homepage_normal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>controller</key>
		<string>TopicMainViewController</string>
		<key>selectedPic</key>
		<string>home_btn_find_select</string>
		<key>normalPic</key>
		<string>home_btn_find_normal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>controller</key>
		<string>ChatMainViewController</string>
		<key>selectedPic</key>
		<string>home_btn_msg_select</string>
		<key>normalPic</key>
		<string>home_btn_msg_normal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我</string>
		<key>controller</key>
		<string>PersonalViewController</string>
		<key>selectedPic</key>
		<string>home_btn_me_select</string>
		<key>normalPic</key>
		<string>home_btn_me_normal</string>
	</dict>
</array>
</plist>
